.img-item{
	width:120px;
	height:120px;
	display:inline-block;
	padding:10px;
	margin:10px;
	color:#000;
}
.img-item:hover{
	background:#EEE;
}
.img-item>img,.img-item>p{
	display:block;
	margin:0 auto;
	text-align: center;
}
.img-item>h3{
	margin:5px;
	white-space:nowrap;
	overflow-x:hidden;
}
textarea.title{
	resize:none;
}
#item-overview{
	background:center no-repeat;
	width:400px;
	height:400px;
	margin:20px;
	box-shadow:0 0 10px #000;
	float:left;
}
a.listShow{
	display:block;
	text-decoration:underline;
	color:#00F;
	cursor:pointer;
}
.productResult{
	display:block;
	padding:10px;
}
.productResult>a{
	text-decoration:none;
}
.productResult#summary .img-item{
	width:auto;
	height:60px;
	display:block;
}
.productResult#summary .img-item>img{
	width:60px;
	float:left;
	padding-right:10px;
}
.productResult#summary .img-item>p{
	text-align:left;
}