@font-face{
  font-family:"Deus Ex";
  src: url("https://stickheadz32.github.io/twitch/deus-ex-console.ttf") format("truetype");
}
@font-face{
  font-family:"Deus Ex Bold";
  src: url("https://stickheadz32.github.io/twitch/deus-ex-console-bold.ttf") format("truetype");
}