@import url("fonts/fonts.css");
*{
    margin:0;
    padding:0;
}
html{
    margin:0;
    padding:0;
    display:block;
}
body{
    margin:0 auto;
    padding:0;
    display:block;
    font-family: "Lato";
}
p,li{
    font-size:100%;
    line-height: 1.5;
    padding:10px 0;
    margin:0;
    font-family: "Lato";
}
h1,h2,h3,h4,h5,h6{
    font-family:"Archer";
    padding:20px 0;
}
header{
    height:90px;
    display:block;
    background:#bed000;
    color:#000;
    margin:0;
    padding:0;
}
footer{
    padding:18px;
    display:block;
    background:#282A2B;
    color:#FFF;
}
footer>div,
header>div{
    display:block;
    max-width:1414px;
    margin:0 auto;
    padding:0;
}
.mainLogo{
    display:block;
    float:left;
    background:url("img/realgymnasiet_svart_logo.png") 19px no-repeat;
    background-size:150px;
    height:52px;
    width:150px;
    margin:0 0 0 -19px;
    padding:19px;
}
.mainMenu{
    display:block;
    float:left;
    margin:0 34px;
    padding:0;
    height:100%;
    width:auto;
    list-style-type:none;
}
.mainMenu li{
    display:inline-block;
    padding:0;
    margin:36px 0;
}
.mainMenu li a{
    font:20px/16px "Archer";
    font-weight: bold;
    text-decoration: none;
    color:#000;
    padding:33px 5px;
    margin:0 6px;
}
.mainMenu>#selected{
    color:#FFF;
}
#slider{
    position:relative;
    max-width:100%;
    height:600px;
    background:#DDD;
}
section{
    max-width:1414px;
    margin:0 auto;
    padding:20px;
}
blockquote{
    background:#E5005A;
    color:#FFF;
    padding:20px;
    position:relative;
    margin:0;
    display:block;
}
blockquote>p{font-size:20px;padding:0;margin:0;}
blockquote .q1{animation:q1 3s infinite;opacity:1;}
blockquote .q2{animation:q2 3s infinite;opacity:0;}
blockquote .q3{animation:q3 3s infinite;opacity:0;}
@keyframes q1{
    27%{opacity:1;display:block;}
    33%{opacity:0;display:none;}
    94%{opacity:0;display:none;}
}@keyframes q2{
    27%{opacity:0;}
    33%{opacity:1;display:block;}
    60%{opacity:1;display:block;}
    66%{opacity:0;display:none;}
}@keyframes q3{
    60%{opacity:0;display:none;}
    66%{opacity:1;display:block;}
    94%{opacity:1;display:block;}
}
blockquote>.author{
    display:block;
    position:relative;
    margin:0;
}
footer>div>aside{
    display:inline-block;
    width:33%;
    vertical-align:top;
    margin:0;
    padding:0;
}
footer h4{
    font:20px "Archer";
    font-weight: bold;
    padding:20px 0;
    text-transform: uppercase;
}
footer a{
    color:#FFF;
    display:block;
    text-decoration:none;
    line-height: 1.5;
}
footer a:hover{
    text-decoration:underline;
}