html{
	font-family:Verdana,Geneva,sans-serif;
}
#weather-app.list{
	display:table;
}
#weather-app .cityinfo{
	display:inline-block;
	margin:0 10px;
}
#weather-app.list .cityinfo{
	display:table-row;
	padding:5px;
}
.cityinfo>*{
	display:block;
	margin:5px 10px;
}
#weather-app.list .cityinfo>*{
	display:table-cell;
	padding:0 10px;
}
#weather-app.list img{
	vertical-align: middle;
}
#weather-app .temp{
	font-size:1.8em;
	font-weight:900;
	display:block;
}
#weather-app .tempMin{
	display:inline-block;
	color:#008;
	font-weight:900;
	margin:0 5px;
}
#weather-app .tempMax{
	display:inline-block;
	color:#800;
	font-weight:900;
	margin:0 5px;
}