/*Designed by Stickheadz32*/

/*Font by Vissol Ltd. Free for commercial use.*/
@import url("fonts/mavenpro_regular.css");

html{
	display:block;
	background:#000;
	width:100%;
	height:100%;
	font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans",Verdana,sans-serif;
}
body{
	margin:0px auto 100px;
	padding:50px 50px 0px;
	max-width:1100px;
	display:block;
	background:#013;
	box-shadow:0 -25px 125px 100px #013;
	font-family:"MavenPro Regular";/*IE 9 or higher*/
}
header{
	display:block;
	background:#BCF;
	-webkit-box-shadow:0 0 120px #08F;
	-moz-box-shadow:0 0 120px #08F;
	box-shadow:0 0 120px #08F;
	margin:0 0 10px 0;
	padding:10px;
}
header a{color:#015;text-decoration:none;}

/*Left side of header*/
header .leftTab{display:inline-block;max-width:50%;margin:0;padding:5px;}

/*Right side of header*/
header .rightTab{display:block;margin:0px;padding:5px;float:right;}
header .rightTab .searchTab{
	margin:0;
	padding:5px;
	display:block;
}
header .rightTab .searchTab input{
	display:inline-block;
	font-family: "MavenPro Regular";
	font-size: 15px;
	margin:1px;
	padding: 5px;
	border:solid 1px rgba(0,0,0,0.3);
}
header .rightTab .searchTab button{
	display:inline-block;
	position:relative;
	background:#FFF;
	border:solid 1px rgba(0,0,0,0.4);
	font-family:"MavenPro Regular";
	font-size:15px;
	margin:1px;
	padding:5px;
}

/*Current date and time*/
header .dateNow{
	display:block;
	min-width:100px;
	padding:0;
	margin:0;
}
header #dateNow_clock{
	display:block;
	text-align:right;
	font-size:16px;
}
header #dateNow_dayMonth{
	display:block;
	text-align:right;
	font-size:14px;
}
header #dateNow_year{
	display:block;
	text-align:right;
	font-size:20px;
}

header noscript{
	display:block;
	background:#8AF;
	color:#000;
	box-shadow:0 0 10px #015;
	-webkit-box-shadow:0 0 10px #015;
	-moz-box-shadow:0 0 10px #015;
}

/*Start menu*/
ul.startMenu{
	display:block;
	padding:0;
	margin:10px 10px 0 10px;
	font-size:19px;
	list-style:none;
	min-height:42px;
}
ul.startMenu li.sM_Link{
	display: inline-block;
	background:transparent;
	transition: ease-in-out background 300ms;
	padding:0;
	margin:0 2px 0 2px;
}
ul.startMenu li.sM_Link a{
	color:#004;
	background:#8BF;
	text-decoration:none;
	padding:10px;
	margin:0;
	box-shadow:inset 0 -15px 15px -15px rgba(0,64,255,.7);
	-moz-box-shadow:inset 0 -15px 15px -15px rgba(0,64,255,.7);
	-webkit-box-shadow:inset 0 -15px 15px -15px rgba(0,64,255,.7);
}
ul.startMenu li.sM_Link a:hover{
	transition:ease-out background 100ms;
	background:#CDF;
}
ul.startMenu li.sM_Link a:active{
	background:#69F;
}
ul.startMenu li.sM_selectedLink{
	display: inline-block;
	background: #FFF;
	padding: 10px;
	margin: 0 2px 0 2px;
}
/*Page content*/
.pageContent{
	display:block;
	background:#FFF;
	margin:0 0 20px 0;padding:10px;
	-webkit-box-shadow:0 0 80px #04F;
	-moz-box-shadow:0 0 80px #04F;
	box-shadow:0 0 80px #04F;
}
ul.catMenu{
	display:block;
	list-style-type:none;
}
ul.catMenu .cM_Link{
	display:inline-block;
}
.pageContent h2{
	margin:5px;
	padding:10px;
	font-size:30px;
	border-bottom:solid 1px rgba(0,0,0,0.3);
}
.pageContent p{
	margin:20px 10px;
	font-size:125%;
	line-height:25px;
	color:#222;
}
.pageContent a{
	color:#00F;
	text-decoration:none;
}
.pageContent a:hover{
	color:#33F;
	text-decoration:none;
}

abbr{
	border:solid 1px rgba(0,0,0,0.1);
}
abbr:hover{
	text-shadow:0 0 20px rgba(0,128,255,0.6);
}
.pageContent ul.catMenu{
	display:block;
	background:#CCF;
	padding:0;
	margin:0 -10px;
	box-shadow:0 5px 10px rgba(0,0,0,.3);
}
footer{
	margin:30px;
	padding:20px;
	display:block;
	background:#8CF;
	-webkit-box-shadow:0 0 60px #08F;
	-moz-box-shadow:0 0 60px #08F;
	box-shadow:0 0 60px #08F;
}
