/*Designed by Stickheadz32*/
*{
	font-family:Verdana,"Geneva",sans-serif;
}
::-webkit-scrollbar{
width:20px;
height:20px;
}
::-webkit-scrollbar-track{
background:rgba(128,128,128,.5);
}
::-webkit-scrollbar-thumb{
background:#808080;
}
#beach0{background-image:url("img/beach_4K.jpg");}
#beach1{background-image:url("img/beach_2K.jpg");}
#beach2{background-image:url("img/beach_1080p.jpg");}
#beach3{background-image:url("img/beach_720p.jpg");}
#beach4{background-image:url("img/beach_480p.jpg");}

#coast0{background-image:url("img/coastline_4K.jpg");}
#coast1{background-image:url("img/coastline_2K.jpg");}
#coast2{background-image:url("img/coastline_1080p.jpg");}
#coast3{background-image:url("img/coastline_720p.jpg");}
#coast4{background-image:url("img/coastline_480p.jpg");}

#stone0{background-image:url("img/stone_4K.jpg");}
#stone1{background-image:url("img/stone_2K.jpg");}
#stone2{background-image:url("img/stone_1080p.jpg");}
#stone3{background-image:url("img/stone_720p.jpg");}
#stone4{background-image:url("img/stone_480p.jpg");}
@media screen and (max-width:768px){
	h1{
		margin:0 10px;
		padding:10px 15px;
		font-size:25px;
		font-weight:400;
	}
	h2{
		margin:0 10px;
		padding:5px 10px;
		font-size:18px;
		line-height:26px;
	}
	p{
		margin:0 10px;
		padding:12px 0;
		font-size:15px;
		line-height:22px;
	}
	li{
		margin:0 10px;
		padding:12px 0;
		font-size:12px;
		line-height:18px;
	}
	html{
	background:#FFF fixed center no-repeat;
	background-size: cover;
	margin:0;
	padding:0;
	transition:ease-in-out 2s background,ease-in-out 2s background-image;
	height:100%;
	width:100%;
	display:block;
	position:fixed;
	}
	body{
	margin:0;
	padding:10%;
	opacity:1 !important;
	height:90%;
	width:100%;
	box-sizing: border-box;
	}
	.menu{
		color:#FFF;
		background:url("img/arrow-right.svg") 25px rgba(0,0,0,.6) no-repeat;
		position:fixed;
		display:block;
		top:0;
		left:0;
		margin:0;
		padding:0;
		width:80px;
		height:80px;
		overflow-x:hidden;
		overflow-y:hidden;
		transition:ease-out .3s;
	}
	.menu a{
	color:#FFF;
	background:url("img/arrow-right.svg") 25px 30px #000 no-repeat;
	text-shadow: 0 0 10px rgba(0,0,0,.6);
	text-decoration:none;
	text-indent:25px;
	padding: 20px;
	margin:0 10px 0 0;
	transition:ease-in-out .3s background;
	}
	.menu li{
	position:relative;
	display:none;
	font-size:200%;
	margin:0;
	top:80px;
	transition:ease-in-out .3s;
	}
	.menu li:before{
		content:"";
	width:20px:height:20px;
	background-image:url("img/arrow-right.svg");
	}
	.menu #menuSelected{
		padding:20px;
		background-color:rgba(0,0,0,.85);
		margin:0 10px 0 0;
		width:0;
	}
	#openMenu{
		background:url("img/arrow-left.svg") 90% 30px rgba(0,0,0,.9) no-repeat;
		position:fixed;
		width:auto;
		overflow:initial;
		transition:ease-in-out .3s;
	}
	#openMenu li,
	#openMenu #menuSelected{
		display:block;
		width:auto;
		overflow-x:visible;
	}
	#openMenu a{
	background-color:rgba(0,0,0,.7);
	transition:ease-in-out .3s;
	}
	.content{
	color:#FFF;
	background:rgba(0,0,0,.6);
	margin:0;
	padding:20px;
	display:block;
	overflow-y:scroll;
	overflow-x:auto;
	height:100%;
	width:auto;
	}
}
@media screen, (min-width:769px), (min-aspect-ratio:1/1) and (max-aspect-ratio:21/9){
	h1{
		margin:0 10px;
		padding:10px 15px;
		font-size:22px;
		font-weight:400;
		border-bottom:solid 1px rgba(255,255,255,.3);
	}
	h2{
		margin:0 10px;
		padding:5px 10px;
		font-size:18px;
		line-height:22px;
	}
	p{
		margin:0 10px;
		padding:12px 0;
		font-size:16px;
		line-height:22px;
	}
	li{
		margin:0 10px;
		padding:12px 0;
		font-size:16px;
		line-height:20px;
	}
	html{
	background:#FFF fixed center no-repeat;
	background-size: cover;
	margin:0;
	padding:0 0 -10% 0;
	transition:ease-in-out 2s background,ease-in-out 2s background-image;
	height:100%;
	width:100%;
	display:block;
	}
	body{
	margin:0;
	padding:10%;
	opacity:1 !important;
	height:90%;
	width:100%;
	box-sizing: border-box;
	}
	.menu{
	color:#FFF;
	padding:0;
	display:block;
	}
	@media (min-width:1404px){
		.menu{
		margin:0 -10px 0 0;
		}
	}
	@media (min-width:769px) and (max-width:1403px){
		.menu{
		margin:0;
		/*Test för låg upplösning*/
		overflow-x:auto;
		overflow-y:hidden;
		white-space:nowrap;
		}
	}
	.menu li{
	display:inline-block;
	font-size:200%;
	margin:0;
	padding:0;
	}
	.menu a{
	color:#FFF;
	background:url("img/arrow-right.svg") 25px rgba(0,0,0,.3) no-repeat;
	text-shadow: 0 0 10px rgba(0,0,0,.6);
	text-decoration:none;
	text-indent:25px;
	padding: 20px;
	margin:0 10px 0 0;
	display:block;
	transition:ease-in-out .3s background;
	}
	.menu #menuSelected{
		padding:20px;
		background-color:rgba(0,0,0,.6);
		margin:0 10px 0 0;
	}
	.menu #menuSelected:before{
		background:none !important;
		width:0;
	}
	.menu a:hover{
	background-color:rgba(0,0,0,.45);
	box-shadow:inset 0 -10px 20px -10px rgba(255,255,255,.1);
	transition:ease-in-out .3s;
	}
	.menu li:before{
	width:20px:height:20px;
	background-image:url("img/arrow-right.svg");
	}
	.content{
	color:#FFF;
	background:rgba(0,0,0,.6);
	margin:0;
	padding:20px;
	display:block;
	overflow-y:scroll;
	overflow-x:auto;
	height:100%;
	width:95%;
	}
	#welcome{
		position:absolute;
		left:0;
		top:0;
		height:100%;
		animation:welcome 4s 1;
		opacity:0;
		pointer-events:none;
		margin:0;
		padding:0;
	}
	#welcome h1{
		padding:20%;
		margin:auto;
		font-size:72px;
        border:0;
	}
}
@media screen and (min-aspect-ratio:21/9){
	h1{
		margin:0 10px;
		padding:10px 15px;
		font-size:44px;
		font-weight:400;
		border-bottom:solid 1px rgba(255,255,255,.3);
	}
	h2{
		margin:0 10px;
		padding:5px 10px;
		font-size:20px;
		line-height:26px;
	}
	p{
		margin:0 10px;
		padding:12px 0;
		font-size:15px;
		line-height:30px;
	}
	li{
		margin:0 10px;
		padding:12px 0;
		font-size:20px;
		line-height:26px;
	}
	html{
	background:#FFF fixed center no-repeat;
	background-size: cover;
	margin:0 66px 0 0;
	padding:0;
	transition:ease-in-out 2s background,ease-in-out 2s background-image;
	width:100%;
	height:100%;
	overflow-y:hidden;
	display:block;
	}
	body{
	margin:0;
	padding:5%;
	opacity:1 !important;
	height:95%;
	width:95%;
	box-sizing: border-box;
	}
	.menu{
	color:#FFF;
	margin:0;
	padding:0;
	display:block;
	/*Test för låg upplösning*/
	overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap;
	height:66px;
	}
	.menu li{
	display:inline-block;
	font-size:150%;
	margin:0;
	padding:0;
	}
	.menu a{
	color:#FFF;
	background:url("img/arrow-right.svg") 25px rgba(0,0,0,.3) no-repeat;
	text-shadow: 0 0 10px rgba(0,0,0,.6);
	text-decoration:none;
	text-indent:25px;
	padding: 20px;
	margin:0 10px 0 0;
	display:block;
	transition:ease-in-out .3s background;
	}
	.menu #menuSelected{
		padding:20px;
		background-color:rgba(0,0,0,.6);
		box-shadow: 0 10px 20px 0px rgba(0,0,0,.3);
		margin:0 10px 0 0;
	}
	.menu #menuSelected:before{
		background:none !important;
		width:0;
	}
	.menu a:hover{
	background-color:rgba(0,0,0,.6);
	box-shadow: inset 0 10px 20px 0px rgba(0,0,0,.3);
	transition:ease-in-out .3s;
	}
	.menu li:before{
	width:20px:height:20px;
	background-image:url("img/arrow-right.svg");
	}
	.content{
	color:#FFF;
	background:rgba(0,0,0,.6);
	margin:0;
	padding:20px;
	display:block;
	overflow-y:scroll;
	overflow-x:auto;
	height:90%;
	width:100%;
	}
	#welcome{
		position:absolute;
		left:0;
		top:0;
		height:100%;
		animation:welcome 4s 1;
		opacity:0;
		pointer-events:none;
		margin:0;
		padding:0;
	}
	#welcome h1{
		padding:20%;
		margin:auto;
		font-size:72px;
	}
}
footer{
	display: block;
	position:fixed;
	left:0;
	top:95%;
	height:5%;
	width:100%;
	margin:0;
	padding:0 10%;
	background:rgba(0,0,0,.6);
	color:#FFF;
	transition:ease-out .2s;
}
footer p{
	padding:0;
	margin:auto 0;
	font-size: 100%;
}
footer:hover{
	height:15%;
	top:85%;
	background:rgba(32,32,32,.8);
	transition:ease-out .2s;
}
@keyframes welcome{
	0%{
		background:rgba(0,0,0,1);
		color:rgba(0,0,0,1);
		opacity:1;
		width:100%;
		animation-timing-function:ease-in;
	}
	40%{
		opacity:.7;
		color:rgba(255,255,255,1);
		background:rgba(0,0,0,1);animation-timing-function:ease-out;
	}
	100%{
		color:rgba(255,255,255,0);
		opacity:0;
		width:100%;
	}
}