body{
	background:#000000;
color:#D8D8D8;
}
header{
background:#3D3D3D;
color:#D8D8D8;
}
header a{
color:#D8D8D8;
}
.headerSlogan{
	border-left: solid 1px rgba(128,128,128,0.75);
}
.selectColortheme{
border-left:solid 1px rgba(128,128,128,0.75);
}
.sCt_item{
border:solid 1px rgba(128,128,128,0.5);
box-shadow:0 0 5px rgba(255,255,255,0.2);
}
.mainCat{
	background: #333333;
}
.mainCat ul{
background:#333333;
}
@media all and (min-width:1001px){
.mainCat ul li{
border-left:solid 1px #777;
}
}
.mC_breadC{
background:#202020;
color:#DDDDDD;
}
.mC_breadC ul a{
color:#DDDDDD;
}
.mC_breadC_link:hover{
background-color:#323232;}
.mC_breadC_selected{
	background:#434343;
}
#mCbC_lA{
	background:url(../img/testarrow.png) no-repeat 0px -16px;
	}
#mCbC_sA{
	background: url(../img/testarrow.png) no-repeat -16px -16px;
}
.mainContent{
background:#434343;
color:#FFFFFF;
}
.mC_rightPanel{
background:#434343;
}
.mainCat ul li a{
color:#AAA;
transition:ease-in-out all 0.2s;
}
.mainCat ul li a:hover{
color:rgba(255,255,255,1);
text-shadow:0 0 10px rgba(255,255,255,0.5);
transition:ease-in-out all 0.05s;
}
.mainCat ul li a:active{
color:rgba(255,255,255,0.2);
text-shadow:0 0 5px rgba(128,128,128,0.9);
}
.mC_block{
border:solid 1px #666;
}
footer{
background:#333333;
color:#CCC;
}
