body{
	background:#2F2F2F;
color:#000000;
}
header{
background:#C0D000;
color:#000000;
}
header a{
color:#000000;
}
.headerSlogan{
	border-left: solid 1px rgba(0,0,0,0.75);
}
.selectColortheme{
border-left:solid 1px rgba(0,0,0,0.3);
}
.sCt_item{
border:solid 1px rgba(0,0,0,0.5);
box-shadow:0 0 5px rgba(0,0,0,0.4);
}
.mainCat{
	background: #C0D000;
}
.mainCat ul{
background:#C0D000;
}
@media all and (min-width:1001px){
	.mainCat ul li{
	border-left:solid 1px #000000;
	}
}
.mC_breadC_link{
background:#C0D000;
color:#000000;
}
.mC_breadC ul a{
color:#000000;
}
.mC_breadC_link:hover{
background-color:#D0DC00;}
.mC_breadC_selected{
	background:#FFFFFF;
}
#mCbC_lA{
	background:url(../img/testarrow.png) no-repeat 0px 0px;
	}
#mCbC_sA{
	background: url(../img/testarrow.png) no-repeat -16px 0px;
}
.mainContent{
background:#FFFFFF;
}
.mainCat ul li a{
color:#000;
transition:ease-in-out all 0.2s;
}
.mainCat ul li a:hover{
color:rgba(0,0,0,0.6);
text-shadow:0 0 10px rgba(255,255,255,0.5);
transition:ease-in-out all 0.05s;
}
.mainCat ul li a:active{
color:rgba(0,0,0,0.4);
text-shadow:0 0 5px rgba(0,0,0,0.4);
}
.mC_block{
border:solid 1px #000000;
}
.mC_rightPanel{
background:#FFFFFF;
}
.mCmS_box{
background:#DBDBDB;
}
footer{
background:#C0D000;
}
